<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="brand"><%= __('Ads') %></a>
      <div class="locales">
        <span><%= __('Language') %></span>
        <%- getLocales().map(lang => `
          <a href="/lang/${lang}">${lang}</a>
        `).join(' - ')
        %>
      </div>
      <div class="tags">
        <% tags.map(function(t) { %>
        <a href="/?tags=<%= t %>"><%= t %></a>
        <% }) %>
      </div>
    </nav>
    <section class="flex-articles">
      <% if (!anuncios.length) { %>
      <h3 align="left"><%= __("There are no articles with the given parameters") %></h3>
      <% } %>
      <% anuncios.map(function(a) { %>
      <article class="anuncio">
        <figure>
          <img src="/images/anuncios/<%= a.foto %>" alt="Article img"/>
          <figcaption><%= a.venta ? __('For sale') : __('Looking for') %></figcaption>
        </figure>
        <h2><%= a.nombre %></h2>
        <h3><%= a.precio %>€</h3>
        <small><% a.tags.map(function(t) { %>
          <a href="/?tags=<%= t %>"><%= t %></a>
          <% }) %>
        </small>
      </article>
      <% }) %>
    </section>
    <nav class="pagination">
      <% if (page !== 1) { %>
      <a href="<%= nav.prev %>">&lt;</a>
      <% } %>
      <span><%= __('Page') %> <%=page%></span>
      <% if (!isLastPage) { %>
      <a href="<%= nav.next %>">&gt;</a>
      <% } %>
    </nav>
  </body>
</html>
